# Dependencies
node_modules/
.next/

# Environment variables
.env*.local

# Database
prisma/dev.db

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local development
.DS_Store
*.pem

# Testing
coverage/

# Production
build/

# Misc
*.log
.vercel

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
